body {
  text-align: center;
  font-family: Arial;
  background: #3a3a3a;
}

#game {
  width: 300px;
  height: 500px;
  background: #1a1a1a;
  margin: auto;
  position: relative;
  overflow: hidden;
}

#player {
  width: 40px;
  height: 70px;
  background: red;
  position: absolute;
  bottom: 20px;
  left: 130px;
}

.enemy {
  width: 40px;
  height: 70px;
  background: yellow;
  position: absolute;
  top: -80px;
}

.controls button,
.menu button {
  font-size: 18px;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1a1a1a;
  color: aliceblue;
}
